{#
* Plugin Name : ProductOption
*
* Copyright (C) 2015 BraTech Co., Ltd. All Rights Reserved.
* http://www.bratech.co.jp/
*
* For the full copyright and license information, please view the LICENSE
* file that was distributed with this source code.
#}

{% if isActive %}
    <p id="option_price_box">オプション価格：¥&nbsp;<span id="option_price_inctax_default"></span>&nbsp;<span class="small">税込</span></p>
{% endif %}