{#
* Plugin Name : ProductOption
*
* Copyright (C) 2015 BraTech Co., Ltd. All Rights Reserved.
* http://www.bratech.co.jp/
*
* For the full copyright and license information, please view the LICENSE
* file that was distributed with this source code.
#}

<div id="common_button_box__option_button" class="row text-center with-border">
    <div class="col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0">
        {% if id is null %}
            <button class="btn btn-default btn-block btn-sm" disabled>
                オプション割当
            </button>
        {% else %}
            <button class="btn btn-default btn-block btn-sm" onclick="fnClass('{{ url('admin_product_product_option', { 'id' : id }) }}');return false;">
                オプション割当
            </button>
        {% endif %}
    </div>
</div>