{% if PageLayout.url == "size" %}
	<div class="eye eye_size">
		<div class="inner">
			<h1><img src="/img/eye/eye_size.png" alt="Size" /><br>サイズと生地</h1>
		</div>
	</div>

{% elseif PageLayout.url == "point_use" %}
	<div class="eye eye_use_point">
		<div class="inner">
			<h1><img src="/img/eye/eye_use_point.png" alt="Use Point" /><br>ご利用ポイントの設定</h1>
		</div>
	</div>

{% elseif PageLayout.url == "ordermade" %}
	<div class="eye eye_ordermade">
		<div class="inner">
			<h1><img src="/img/eye/eye_ordermade.png" alt="Ordermade" /><br>オーダーメイド</h1>
		</div>
	</div>
{% elseif PageLayout.url == "handmade" %}
	<div class="eye eye_handmade">
		<div class="inner">
			<h1><img src="/img/eye/eye_handmade.png" alt="Handmade" /><br>ハンドメイド</h1>
		</div>
	</div>

{% elseif PageLayout.url == "harukas" %}
	<div class="eye eye_harukas">
		<div class="inner">
			<h1><img src="/img/eye/eye_harukas.png" alt="Harukas" /><br>ハルカス店</h1>
		</div>
	</div>

{% elseif PageLayout.url == "help_guide" %}
	<div class="eye eye_guide">
		<div class="inner">
			<h1><img src="/img/eye/eye_guide.png" alt="Order" /><br>ご注文について</h1>
		</div>
	</div>

{% elseif PageLayout.url == "contact" %}
	<div class="eye eye_contact">
		<div class="inner">
			<h1><img src="/img/eye/eye_contact.png" alt="Contact" /><br>お問い合わせ</h1>
		</div>
	</div>

{% elseif PageLayout.url == "contact_complete" %}
	<div class="eye eye_contact">
		<div class="inner">
			<h1><img src="/img/eye/eye_contact.png" alt="Contact" /><br>お問い合わせ完了</h1>
		</div>
	</div>

{% elseif PageLayout.url == "color_list" %}
	<div class="eye eye_color_list>
		<div class="inner">
			<h1><img src="/img/eye/eye_color_list.png" alt="Color List" /><br>カラー一覧</h1>
		</div>
	</div>

{% elseif PageLayout.url == "access" %}
	<div class="eye eye_access">
		<div class="inner">
			<h1><img src="/img/eye/eye_shop.png" alt="Store" /><br>店舗紹介</h1>
		</div>
	</div>

{% elseif PageLayout.url == "help_privacy" %}
	<div class="eye eye_privacy">
		<div class="inner">
			<h1><img src="/img/eye/eye_privacy.png" alt="Privacy Policy" /><br>プライバシーポリシー</h1>
		</div>
	</div>

{% elseif PageLayout.url == "help_about" %}
	<div class="eye eye_about">
		<div class="inner">
			<h1><img src="/img/eye/eye_about.png" alt="About" /><br>当サイトについて</h1>
		</div>
	</div>

{% elseif PageLayout.url == "help_tradelaw" %}
	<div class="eye eye_help_tradelaw">
		<div class="inner">
			<h1><img src="/img/eye/eye_commercial.png" alt="Transaction" /><br>特定商取引法に基づく表記</h1>
		</div>
	</div>

{% elseif PageLayout.url == "cart" %}
	<div class="eye eye_cart">
		<div class="inner">
			<h1><img src="/img/eye/eye_shopping_cart.png" alt="Shopping Cart" /><br>ショッピングカート</h1>
		</div>
	</div>

{% elseif PageLayout.url == "shopping" %}
	<div class="eye eye_cart">
		<div class="inner">
			<h1><img src="/img/eye/eye_shopping_cart.png" alt="Shopping Cart" /><br>ご注文内容のご確認</h1>
		</div>
	</div>

{% elseif PageLayout.url == "shopping_complete" %}
	<div class="eye eye_cart">
		<div class="inner">
			<h1><img src="/img/eye/eye_order_complete.png" alt="Order Complete" /><br>ご注文完了</h1>
		</div>
	</div>

{% elseif PageLayout.url == "entry" %}
	<div class="eye eye_entry">
		<div class="inner">
			<h1><img src="/img/eye/eye_registration.png" alt="Registration" /><br>新規会員登録</h1>
		</div>
	</div>

{% elseif PageLayout.url == "entry_complete" %}
	<div class="eye eye_entry">
		<div class="inner">
			<h1><img src="/img/eye/eye_registration.png" alt="Registration" /><br>新規会員登録</h1>
		</div>
	</div>

{% elseif PageLayout.url == "entry_activate" %}
	<div class="eye eye_entry">
		<div class="inner">
			<h1><img src="/img/eye/eye_registration.png" alt="Registration" /><br>新規会員登録</h1>
		</div>
	</div>

{% elseif PageLayout.url == "mypage" %}
	<div class="eye eye_mypage">
		<div class="inner">
			<h1><img src="/img/eye/eye_mypage.png" alt="Mypage" /><br>マイページ</h1>
		</div>
	</div>

{% elseif PageLayout.url == "mypage_login" %}
	<div class="eye eye_login">
		<div class="inner">
			<h1><img src="/img/eye/eye_login.png" alt="Login" /><br>ログイン</h1>
		</div>
	</div>

{% elseif PageLayout.url == "shopping_login" %}
	<div class="eye eye_login">
		<div class="inner">
			<h1><img src="/img/eye/eye_login.png" alt="Login" /><br>ログイン</h1>
		</div>
	</div>

{% elseif PageLayout.url == "forgot" %}
	<div class="eye eye_password">
		<div class="inner">
			<h1><img src="/img/eye/eye_password.png" alt="Password" /><br>パスワード再発行</h1>
		</div>
	</div>

{% elseif PageLayout.url == "forgot_complete" %}
	<div class="eye eye_password">
		<div class="inner">
			<h1><img src="/img/eye/eye_password.png" alt="Password" /><br>パスワード再発行</h1>
		</div>
	</div>

{% elseif PageLayout.url == "forgot_reset" %}
	<div class="eye eye_password">
		<div class="inner">
			<h1><img src="/img/eye/eye_password.png" alt="Password" /><br>パスワード再発行</h1>
		</div>
	</div>

{% elseif PageLayout.url == "mypage_history" %}
	<div class="eye eye_mypage">
		<div class="inner">
			<h1><img src="/img/eye/eye_mypage.png" alt="Mypage" /><br>ご注文履歴</h1>
		</div>
	</div>

{% elseif PageLayout.url == "mypage_favorite" %}
	<div class="eye eye_mypage">
		<div class="inner">
			<h1><img src="/img/eye/eye_mypage.png" alt="Mypage" /><br>お気に入り一覧</h1>
		</div>
	</div>

{% elseif PageLayout.url == "mypage_change" %}
	<div class="eye eye_mypage">
		<div class="inner">
			<h1><img src="/img/eye/eye_mypage.png" alt="Mypage" /><br>会員情報編集</h1>
		</div>
	</div>

{% elseif PageLayout.url == "mypage_change_complete" %}
	<div class="eye eye_mypage">
		<div class="inner">
			<h1><img src="/img/eye/eye_mypage.png" alt="Mypage" /><br>会員情報編集</h1>
		</div>
	</div>

{% elseif PageLayout.url == "mypage_delivery" %}
	<div class="eye eye_mypage">
		<div class="inner">
			<h1><img src="/img/eye/eye_mypage.png" alt="Mypage" /><br>お届け先編集</h1>
		</div>
	</div>

{% elseif PageLayout.url == "mypage_delivery_new" %}
	<div class="eye eye_mypage">
		<div class="inner">
			<h1><img src="/img/eye/eye_mypage.png" alt="Mypage" /><br>お届け先編集</h1>
		</div>
	</div>

{% elseif PageLayout.url == "mypage_withdraw" %}
	<div class="eye eye_mypage">
		<div class="inner">
			<h1><img src="/img/eye/eye_mypage.png" alt="Mypage" /><br>退会手続き</h1>
		</div>
	</div>


{% elseif PageLayout.url == "mypage_withdraw_complete" %}
	<div class="eye eye_mypage">
		<div class="inner">
			<h1><img src="/img/eye/eye_mypage.png" alt="Mypage" /><br>退会手続き</h1>
		</div>
	</div>

{% elseif PageLayout.url == "shopping_nonmember" %}
	<div class="eye eye_shopping_cart">
		<div class="inner">
			<h1><img src="/img/eye/eye_shopping_cart.png" alt="Shopping" /><br>お客様情報の入力</h1>
		</div>
	</div>

{% elseif PageLayout.url == "shopping_shipping_edit" %}
	<div class="eye eye_shopping_cart">
		<div class="inner">
			<h1><img src="/img/eye/eye_shopping_cart.png" alt="Shopping" /><br>お届け先の追加</h1>
		</div>
	</div>


{% elseif PageLayout.url == "product_list" %}

	{% if Category.id == 7 %}
	<div class="eye eye_leotard">
		<div class="inner">
			<h1><img src="/img/eye/eye_leotard.png" alt="Leotard" /><br>レオタード</h1>
		</div>
	</div>
	{% elseif Category.id == 8 %}
	<div class="eye eye_junior_leotard">
		<div class="inner">
			<h1><img src="/img/eye/eye_junior_leotard.png" alt="Junior Leotard" /><br>ジュニアレオタード</h1>
		</div>
	</div>
	{% elseif Category.id == 9 %}
	<div class="eye eye_skirt">
		<div class="inner">
			<h1><img src="/img/eye/eye_skirt.png" alt="Skirt" /><br>スカート</h1>
		</div>
	</div>
	{% elseif Category.id == 10 %}
	<div class="eye eye_knit_tops">
		<div class="inner">
			<h1><img src="/img/eye/eye_knit_tops.png" alt="Knit Tops One Piece" /><br>ニットトップス・ワンピース</h1>
		</div>
	</div>
	{% elseif Category.id == 11 %}
	<div class="eye eye_pants">
		<div class="inner">
			<h1><img src="/img/eye/eye_pants_leg_warmer.png" alt="Pants Leg Warmer" /><br>パンツ・レッグウォーマー</h1>
		</div>
	</div>
	{% elseif Category.id == 12 %}
	<div class="eye eye_select">
		<div class="inner">
			<h1><img src="/img/eye/eye_select_series.png" alt="Select Series" /><br>セレクトシリーズ</h1>
		</div>
	</div>
	{% elseif Category.id == 13 %}
	<div class="eye eye_taitu">
		<div class="inner">
			<h1><img src="/img/eye/eye_taitu_shorts_bf.png" alt="Taitu Shorts Body Foundation" /><br>タイツ・ショーツ・ボディファンデーション</h1>
		</div>
	</div>
	{% elseif Category.id == 14 %}
	<div class="eye eye_chou_chou">
		<div class="inner">
			<h1><img src="/img/eye/eye_chouchou.png" alt="Chou Chou" /><br>シュシュ・シニヨンネット</h1>
		</div>
	</div>
	{% elseif Category.id == 15 %}
	<div class="eye eye_petite_leotard">
		<div class="inner">
			<h1><img src="/img/eye/eye_petit_order_leotard.png" alt="Petite Order Leotard" /><br>プチオーダーレオタード</h1>
		</div>
	</div>
	{% elseif Category.id == 17 %}
	<div class="eye eye_embroidered">
		<div class="inner">
			<h1><img src="/img/eye/eye_embroidered.png" alt="Goods embroidered" /><br>名入れ刺繍グッズ</h1>
		</div>
	</div>
	{% elseif Category.id == 18 %}
	<div class="eye eye_ballet_shoes">
		<div class="inner">
			<h1><img src="/img/eye/eye_ballet_shoes.png" alt="Ballet Shoes" /><br>バレエシューズ</h1>
		</div>
	</div>
	{% elseif Category.id == 19 %}
	<div class="eye eye_ballet_goods">
		<div class="inner">
			<h1><img src="/img/eye/eye_ballet_goods.png" alt="Ballet Goods" /><br>バレエ雑貨</h1>
		</div>
	</div>
	{% elseif Category.id == 21 %}
	<div class="eye eye_fuwafuwa">
		<div class="inner">
			<h1><img src="/img/eye/eye_fuwa_fuwa.png" alt="Fuwa Fuwa Knit Series" /><br>ふわふわニットシリーズ</h1>
		</div>
	</div>

	{% elseif Category.id == 24 %}
	<div class="eye eye_named_face_towel">
		<div class="inner">
			<h1><img src="/img/eye/eye_named_towel_handkerchief.png" alt="Embroidery Named Towel Handkerchief" /><br>刺繍タオルハンカチ</h1>
		</div>
	</div>

	{% elseif Category.id == 25 %}
	<div class="eye eye_named_face_towel">
		<div class="inner">
			<h1><img src="/img/eye/eye_named_face_towel.png" alt="Embroidery Named Face Towel" /><br>刺繍フェイスタオル</h1>
		</div>
	</div>

	{% elseif Category.id == 26 %}
	<div class="eye eye_named_bag">
		<div class="inner">
			<h1><img src="/img/eye/eye_named_bag.png" alt="Embroidery Named Bag" /><br>刺繍バッグ</h1>
		</div>
	</div>
	{% else %}

	<div class="eye eye_cat_all">
		<div class="inner">
			<h1><img src="/img/eye/eye_all_item.png" alt="All Item" /><br>商品一覧</h1>
		</div>
	</div>
	{% endif %}
{% endif %}