<div id="fixed_icons" class="smart_hide tablet_hide pc_hide wide_visible">
	<ul class="ul01">
		<li class="hover btn_shopinfo"><img src="/img/common/side/icon_shop.png" alt="実店舗" /></li>
		<li><a href="/studio/"><img src="/img/common/side/icon_studio.png" alt="レンタルスタジオ" /></a></li>
	</ul>

	<ul class="ul02">
		<li><a href="/cart"><img src="/img/common/side/icon_cart.png" alt="カート" /></a></li>
		<li><a href="/mypage"><img src="/img/common/side/icon_login.png" alt="ログイン" /></a></li>
		<li><a href="/entry"><img src="/img/common/side/icon_regist.png" alt="会員登録" /></a></li>
	</ul>
	<!--<ul>
		<li><a href="{{ url('homepage') }}harukas" class="hover100"><img src="/img/common/foot/icon_harukas.png" alt="ハルカス店のご案内"  class="hover100" />ハルカス店のご案内</a></li>
		<li><a href="{{ url('homepage') }}access" class="hover100"><img src="/img/common/foot/icon_access.png" alt="アクセス"   class="hover100" />アクセス</a></li>
		<li><a href="{{ url('homepage') }}studiotiara/" class="hover100"><img src="/img/common/foot/icon_studio.png" alt="レンタルスタジオ"  class="hover100" />レンタルスタジオ</a></li>
		<li><a href="{{ url('homepage') }}ordermade" class="hover100"><img src="/img/common/foot/icon_ordermade.png" alt="オーダーメイド"  class="hover100" />オーダーメイド</a></li>
	<ul>-->
</div><!-- /#fixed_icons -->

<div id="fixed_shop_info" class="none">
<div class="inner">
<div class="center_box">
	<p class="btn_close"><img src="/img/common/side/btn_close.png" alt="閉じる" /></p>
	<h3><img src="/img/common/side/h_shopinfo.png" alt="店舗・スタジオのご案内" /></h3>

	<p class="tel">TEL:<span>072-294-7828</span></p>

	<div class="row row01">
		<div class="box box01">
			<p class="pic"><img src="/img/common/side/pic_honten.png" alt="本店・野々井スタジオ" /></p>
			<h4><img src="/img/common/side/h_honten.png" alt="Ballet Shop tiara 本店・野々井スタジオ" /></h4>
			<p class="access">〒590-0155 大阪府堺市南区野々井672-5</p>

			<p class="open">OPEN:11:00～18:00<br>定休日：無</p>

			<ul class="setsubi_list">
				<li class="shop">実店舗</li>
				<li class="studio">studio併設</li>
				<li class="atelier">アトリエ併設</li>
			</ul>

			<p class="btn_link"><a href="/access">アクセスはこちら</a></p>
		</div>

		<div class="box box02">
			<p class="pic"><img src="/img/common/side/pic_hinoo.png" alt="檜尾スタジオ" /></p>
			<h4><img src="/img/common/side/h_hinoo.png" alt="檜尾スタジオ" /></h4>
			<p class="access">〒590-0142 大阪府堺市南区檜尾544-1</p>

			<p class="open">OPEN:11:00～18:00<br>定休日：年中無休</p>

			<ul class="setsubi_list">
				<li class="studio">studio</li>
			</ul>

			<p class="btn_link"><a href="/access#link_hinoo">アクセスはこちら</a></p>
		</div>

		<div class="box box03">
			<p class="pic"><img src="/img/common/side/pic_harukas.png" alt="ハルカス店" /></p>
			<h4><img src="/img/common/side/h_harukas.png" alt="Ballet Shop tiara ハルカス店" /></h4>
			<p class="access">〒545-8545 大阪府大阪市阿倍野区阿倍野筋1-1-43<br>あべのハルカス
 タワー館8階 子供用品売り場</p>

			<p class="open">OPEN:10:00～22:00<br>定休日：無</p>

			<ul class="setsubi_list">
				<li class="shop">実店舗</li>
			</ul>

			<p class="btn_link"><a href="/harukas">アクセスはこちら</a></p>
		</div>
	</div>
</div><!-- /.center_box -->
</div><!-- /.inner -->
</div><!-- #fixed_shop_info  -->