<div id="bloc_main_bnrs">
    <div class="row bnrs_row">
        <div class="col-xs-6 col-sm-3 link_box">
            <a href="/access">
                <div class="img_box">
                    <p><img src="/img/common/head/bnr_honten.jpg" alt="本店" /></p>
                </div>
                <div class="text_box">
                    <p class="title">本店</p>
                </div>
            </a>
        </div>

        <div class="col-xs-6 col-sm-3 link_box">
            <a href="/harukas">
                <div class="img_box">
                    <p><img src="/img/common/head/bnr_harukas.jpg" alt="ハルカス店" /></p>
                </div>
                <div class="text_box">
                    <p class="title">ハルカス店</p>
                </div>
            </a>
        </div>

        <div class="col-xs-6 col-sm-3 link_box">
            <a href="/access#link_nonoi_studio">
                <div class="img_box">
                    <p><img src="/img/common/head/bnr_nonoi.jpg" alt="野々井スタジオ" /></p>
                </div>
                <div class="text_box">
                    <p class="title">野々井スタジオ</p>
                </div>
            </a>
        </div>

        <div class="col-xs-6 col-sm-3 link_box">
            <a href="/access#link_hinoo_studio">
                <div class="img_box">
                    <p><img src="/img/common/head/bnr_hinoo.jpg" alt="檜尾店" /></p>
                </div>
                <div class="text_box">
                    <p class="title">檜尾スタジオ</p>
                </div>
            </a>
        </div>

        <div class="col-xs-6 col-sm-3 link_box">
            <a href="https://tiara-collection.com/studio/">
                <div class="img_box">
                    <p><img src="/img/common/head/bnr_rental.jpg" alt="レンタルスタジオのご案内" /></p>
                </div>
                <div class="text_box">
                    <p class="title">レンタルスタジオのご案内</p>
                </div>
            </a>
        </div>
        <div class="none">
            {{ php_file_get_contents('http://tiara-collection-com.check-xserver.jp/studio/wp_bnr_feed.php') }}
        </div>
    </div>
</div>
<!-- /.bloc_main_bnrs -->