<div class="mv_info">
		<div class="inner">
			<div class="row">
						<h3 style="color:#f397a9;">お知らせ</h3>
						<p>日頃より当店をご利用いただき誠にありがとうございます。年末年始休業期間につきまして下記の通りご案内いたします。</p>
						<b style="font-size:16px">■休業期間　2018年12月28日～2019年1月4日</b>
						<p>※この期間にご注文頂きましたお客様は 2019年1月5日 より順次対応させて頂きます。</p>
<p>また本年、当サイト上でシステムエラーなどが発生しご購入に対して一部ご不憫などお掛け致しました。深くお詫び申し上げます。<br>
2019年度はより一層、社員一丸となり快適なご購入をして頂けるよう努めて参りたいと思っております。<br>
今後ともどうぞ、よろしく御願い致します。</p>
			</div>
		</div>
	</div><!-- /.mv_info -->