<style>/*
<script src="/js/js.cookie.js"></script>

<script>
$(function() {
	var view_count = Cookies.get("view_change_pass");

	if(view_count == null) {
		view_count = 0;
	}else{
		view_count = Cookies.get("view_change_pass");
	}
	view_count++;
	Cookies.set("view_change_pass",view_count, { expires: 365 });

	if(view_count < 2) {
		$('#bloc_over_password_info').removeClass('none');
	}
	console.log(view_count);
});
</script>


{% if is_granted('ROLE_USER') %}

{% else %}



<div id="bloc_over_password_info" class="none">
	<div class="center_box">
		<p class="btn btn_close"><img src="/img/common/icon_close.png" alt="×" /></p>
		<p class="old_pass"><strong class="red">サイトリニューアルに伴い、<br>旧サイトで会員登録されていた方はパスワードの再設定が必要です。<br>下のボタンからパスワード再設定をお願いいたします。</strong></p>

		<p class="btn btn_pass"><a href="/forgot">パスワード再発行</a></p>
	</div><!-- /.center_box -->
</div><!-- /#paddword_info -->
{% endif %}
*/</style>