<div id="top_ordermade">
	<div class="bd_head"></div>
	<div class="row inner">
		<div class="col-xs-12 col-md-6 text_box">
			<h2><img src="/img/home/h_ordermade.png" alt="Order Made" /></h2>
			<p>「既製のものでは物足りない」「お友達と差を付けたい」という方にオーダーメイドでレオタードを制作します。<br>制作日数は２週間ほどですが、ご注文の混雑状況により変わりますので、受注確認のメールの際にお知らせいたします。下記の注意事項を必ずお読みください。</p>
			<p class="btn_more"><a href="{{ url('homepage') }}ordermade"><img src="/img/home/btn_ordermade_more.png" alt="詳しくはこちら" /></a></p>
		</div>
		<div class="col-xs-12 col-md-6 img_box">
			<p><img src="/img/home/pic_ordermade01.jpg" alt="Ordermade" /></p>
		</div>
	</div>
	<div class="bd_foot"></div>
</div><!-- /#top_ordermade -->