<div id="top_about">
	<div class="row row01 inner">
		<div class="col-xs-12 col-md-6 box text_box">
			<div class="bd_box">
				<h2><img src="/img/home/h_about.png" alt="About Tiara" /></h2>
				<p>お気に入りのレオタードでレッスンを楽しく、<br class="smart_hide">小さなバレリーナさんの 願いにティアラがお手伝い。<br>大阪堺市・あべのハルカスのバレエショップティアラは<br class="smart_hide">かわいく上品なオリジナルレオタードで<br class="smart_hide">ご好評頂いております。<br>こだわりのオーダーレオタードも承ります。</p>
			</div>
		</div>
		<div class="col-xs-12 col-md-6 box img_box smart_hide tablet_hide">
			<p><img src="/img/home/pic_about01.jpg" alt="About Tiara" /></p>
		</div>
	</div>
	<div class="row row02 inner">
		<div class="col-xs-12 col-sm-4 match_height feature_box feature_box01">
			<div class="feature_point feature_point01">
				<h3>優れた<br>生地</h3>
			</div>
			<div class="feature_des feature_des01">
				<h4><img src="/img/home/about_cloth.png" alt="Cloth" /></h4>
				<p>上質な日本製の素材を使用しています。<br>肌触りや耐久性に優れた生地を厳選。<br>レース、モチーフ、ゴムなどの小さなパーツにもこだわっています。</p>
			</div>
		</div>

		<div class="col-xs-12 col-sm-4 match_height feature_box feature_box02">
			<div class="feature_point feature_point02">
				<h3>ハンド<br>メイド</h3>
			</div>
			<div class="feature_des feature_des02">
				<h4><img src="/img/home/about_handmade.png" alt="Hand made" /></h4>
				<p>パターン、裁断、縫製・・・。全てティアラ熟練スタッフの手によって生み出されています。ひとつひとつアトリエ内で製作しているので、量産が出来ません。</p>
			</div>
		</div>

		<div class="col-xs-12 col-sm-4 match_height feature_box feature_box03">
			<div class="feature_point feature_point03">
				<h3>オリジナル<br>デザイン</h3>
			</div>
			<div class="feature_des feature_des03">
				<h4><img src="/img/home/about_origin.png" alt="Original design" /></h4>
				<p>「シンプルだけどおしゃれ」をコンセプトに日々デザイン考案中です。 モデルに着用させ、実際にレッスン。実用性も兼ねそなえたオリジナルデザインです。</p>
			</div>
		</div>
	</div>
</div><!-- /#top_about -->